.father {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child{
    flex-basis: 33%;
    background: teal;
    font-size:50px;
    color: white;
    display:flex;
    justify-content: center;
}
