.father {
    display: flex;
    flex-direction : row-reverse;
    justify-content: space-around;
    height: 100vh;
    flex-wrap:wrap-reverse;
}
.child{
    width:200px;
    height: 200px;
    background: teal;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
